.siteattention-on #wpcontent, .siteattention-on #wpfooter {
    margin-right: 302px;
}

/*css for gutenberg editor*/
.siteattention-on.auto-fold .edit-post-header{
    right: 325px;
}

.siteattention-on.auto-fold .block-editor-editor-skeleton{
    right: 325px;
}

.siteattention-on .edit-post-layout.is-sidebar-opened .edit-post-layout__content{
    margin-right: 605px;
}

body.siteattention-on.auto-fold .edit-post-layout__content{
    margin-right: 325px;
}

.siteattention-on .edit-post-layout.is-sidebar-opened .edit-post-sidebar{
    right: 325px;
}

.siteattention-on .edit-post-layout .editor-post-publish-panel{
    right: 325px;
}

/**
 * SiteAttention Settings
 */
.siteattention-on #SAPL {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99998;
}

/*
 * Containers
 */
div.SAPL div.SiteAttention_container {
    background-color: #fff;
    border-left: 1px solid #e8e1e1;
    /*box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);*/
}

div.SAPL div.SiteAttention_overlay {
    width: 360px;
    position: fixed;
    z-index: 999999;
    padding: 10px;
    visibility: hidden;
    margin: 10px 0;
}

div.SAPL div.SiteAttention_header{
    width:100%;
    float: left;
    padding: 15px 0px;
    text-align: center;
}

div.SAPL .tab_title{
    width: 100%;
    background: #f1f1f1;
    padding: 10px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    float: left;
}

div.SAPL .tab_title a{
    text-decoration: none;
    color: #000;
    width: 95%;
    float: left;
}

div.SAPL div.SiteAttention_score_rules_container{
    display: none;
}

button#SiteAttention_keyword_difficulty_btn {
    color: white;
    background-color: #082c5c;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 13px;
    outline: none;
    cursor: pointer;
    padding: 2px;
}

button#SiteAttention_keyword_difficulty_btn svg{
    width: 12px;
    height: 8px;
    fill: white;
    padding: 0 0px 0 5px;
}

.keyword_btn_active {
    background-color: #a8a8a8 !important;
    outline: none !important;
}

button.keyword_btn_active svg{
    fill: #3f4a50 !important;
}

#SiteAttention_keyword_difficulty {
    display: none;
    flex-direction: column;
    z-index: 999998;
    margin-top: 20px;
    background: white;
    float: left;
    width: 100%;
}

div#SiteAttention_KD_title {
    background-color: #4DB0E9;
    border: 1px solid #4DB0E9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: white;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 0 5px 10px;
    display: none;
}

span#SiteAttention_KD_title_close {
    margin-left: 65%;
    color: white;
    cursor: pointer;
}

#SiteAttention_keyword_difficulty_region_label {
    padding: 16px 0 0 16px;
    color: rgba(38, 153, 251, 1);
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}

div#SiteAttention_keyword_difficulty select#SiteAttention_keyword_difficulty_region {
    border: 1px solid #a8a8a8;
    margin: 5px 0;
    width: 100%;
    height: 32px;
    background-color: #f7f7f7;
    border-radius: 4px;
    color: #615454;
}

div#SiteAttention_keyword_difficulty_search_container {
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 5px 0;
    flex-direction: column;
}

div#SiteAttention_keyword_difficulty_search_container input#SiteAttention_keyword_difficulty_phrase {
    display: inline-flex;
    height: 32px;
    padding-left: 8px;
    background-color: #f7f7f7;
    border: 1px solid #a8a8a8;
    border-radius: 4px;
    color: #615454;
}

div#SiteAttention_keyword_difficulty_search_container a#SiteAttention_keyword_difficulty_search {
    display: inline-flex;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    padding: 0 8px;
    border-radius: 0 10px 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

div#SiteAttention_keyword_difficulty_search_container a#SiteAttention_keyword_difficulty_search span {
    width: 14px;
    height: 14px;
    margin: 7px 2px;
}

a#SiteAttention_keyword_difficulty_search span svg {
    fill: #bebebe;
    padding-top: 2px;
}

div#SiteAttention_keyword_difficulty_search_options {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    margin-left: 40px;
}

.SA_btn-group button.SA_KD_active {
    color: #0A246A;
    box-shadow: none;
    outline: none;
}

.SA_btn-group button {
    background: transparent;
    float: left;
    color: #b9a7a7;
    font-size: 11px;
    border: none;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
}

div#SiteAttention_keyword_difficulty_search_loading {
    display: none;
    position: absolute;
    top: 5px;
    right: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4DB0E9;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 14px;
    height: 14px;
    margin-top: 2px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#SiteAttention_keytool_results {
    display: none;
    margin-top: 15px;
}

.SiteAttention_keyword_difficulty_result {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 6px;
    /* justify-content: space-between; */
    align-items: center;
    width: 90%;
}

.SiteAttention_keyword_difficulty_result_word_competition_container {
    display: inline-flex;
    flex-direction: column;
    /* width: 250px; */
    width: 100%;
    padding: 0px 0 5px 16px;
}

.SiteAttention_keyword_difficulty_result_competition_container {
    display: inline-flex;
    height: 16px;
    margin: 2px 5px 0 0;
    position: relative;
}

.SiteAttention_keyword_difficulty_result_competition_background {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dedede;
}

.SiteAttention_keyword_difficulty_result_competition_bar {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #082c5c;
}

.SiteAttention_keyword_difficulty_result_kdi {
    display: inline-flex;
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    color: white;
    text-align: center;
    margin: 2px 0px 2px 70px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
}

.SiteAttention_keyword_difficulty_result_number {
    font-size: 10px;
    line-height: 10px;
    color: rgba(34, 38, 40, 1);
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}

.SiteAttention_keyword_difficulty_use_it.SA_click_counter {
    background-color: #082c5c;
    width: 46px;
    height: 18px;
    color: white;
    font: inherit;
    font-size: 8px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    cursor: pointer;
    margin: 2px 0 0 4px;
}

.SiteAttention_keyword_difficulty_use_it.SA_click_counter.SA_btn_active ,.SiteAttention_keyword_difficulty_use_it.SA_click_counter:hover {
    background-color: white !important;
    color: rgba(77, 176, 233, 1) !important;
}

input.SA_add_keyword_input{
    margin: 3px 0px 0px 5px;
    width: 100px;
    border:1px solid #0071a1;
    border-radius:10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    line-height: 16px;
    font-size: 14px;
    padding:0px 5px;
    height:26px;
    text-overflow:ellipsis;
    float:left;
}

div.SAPL div.SiteAttention_seo_analysis{
    width:100%;
    float: left;
    /*padding: 10px;*/
    overflow-y: auto;
    margin-top: 10px;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_keyword_tags{
    margin: 5px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    width: auto;
    float: left;
    color: #FFFFFF;
    background: #082c5c;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_keyword_tags .SA_keyword_tag_delete{
    float: right;
    font-size: 8px;
    margin-left: 5px;
    cursor: pointer;
}

div.SAPL div.SiteAttention_seo_analysis .SA_click_counter_add{
    margin: 8px 5px;
    color: #0071a1;
    background-color: #f3f5f6;
    border: 1px solid #0071a1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    outline: none;
    cursor: pointer;
    padding: 2px;
    float: left;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_add_keyword{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    display: none;
}

/*
Score
 */
div.SAPL .SiteAttention_toggle_score {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

div.SAPL .SiteAttention_toggle_score .SiteAttention_score_label {
    margin-bottom: 0px;
}

div.SAPL .SiteAttention_toggle_score .SiteAttention_score{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.SiteAttention_score_label_p{
    margin: 0;
}

div.SAPL .SiteAttention_toggle_score .SiteAttention_score .SiteAttention_score_text{
    display: inline-flex;
    width: 96%;
    box-sizing: border-box;
    height: 85%;
    margin-left: 3%;
    align-items: flex-end;
    justify-content: flex-end;
    transition: padding-right 0.5s ease;
    margin-top: -25px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_score .SiteAttention_score_text .SiteAttention_score_value{
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 3px;
    color: #4DB0E9;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_score .SiteAttention_score_bar{
    display: inline-flex;
    width: 80%;
    box-sizing: border-box;
    height: 8px;
    position: relative;
    margin: 0 0px 10px 0px;
    border-radius: 10px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_score .SiteAttention_score_bar .SiteAttention_score_bar_background{
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: #E8E8E8 !important;
    box-sizing: border-box;
    border-radius: 10px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_score .SiteAttention_score_bar .SiteAttention_score_bar_percentage{
    transition: width 0.5s;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_score .SiteAttention_score_bar .SiteAttention_threshold_arrow{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #C3002F;
    margin-top: 10px;
    display: inline-flex;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_score .SiteAttention_score_bar .SiteAttention_threshold_text{
    font-size: 10px;
    margin-top: 20px;
    margin-left: -3%;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability_label{
    /*margin: 0;
    height: 16px;*/
    margin-bottom: 0px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability_label p.SiteAttention_readability_label_text {
    margin: 0;
}

div.SAPL .SiteAttention_toggle_score .SiteAttention_readability{
    width: 100%;
    margin-bottom: 15px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_score{
    font-size: 12px;
    line-height: 20px;
    float: right;
    text-align: center;
    width: 17%;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar{
    display: inline-flex;
    width: 80%;
    box-sizing: border-box;
    height: 8px;
    margin-left: 3px;
    position: relative;
    margin: 0 5px 0px 2px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar .SiteAttention_readability_bar_background{
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #E8E8E8;
    box-sizing: border-box;
    border-radius: 10px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar .SiteAttention_readability_bar_percentage{
    transition: width 0.5s;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.6;
    border-radius: 10px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar .SiteAttention_readability_bar_scales{
    transition: width 0.5s;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar .SiteAttention_readability_bar_scales{
    transition: width 0.5s;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
.SiteAttention_readability_bar_percentage_span1{
    border-radius: 10px 0 0 10px !important;
}
.SiteAttention_readability_bar_percentage_span3{
    border-radius: 0 10px 10px 0 !important;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar .SiteAttention_readability_bar_scaleMark{
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar .SiteAttention_readability_bar_scaleMark .SiteAttention_readability_bar_scaleMark1,
div.SAPL .SiteAttention_toggle_score .SiteAttention_readability .SiteAttention_readability_bar .SiteAttention_readability_bar_scaleMark .SiteAttention_readability_bar_scaleMark2{
    border-right: 3px solid white;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_search_phrase_tags{
    float: left;
    width: 100%;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules{
    margin-bottom: 10px;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    /*background: white;*/
    padding: 5px 0px;
    width: 100%;
    /*margin-left: 10px;*/
}

.edit-post-meta-boxes-area__container div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules {
    width: 97%;
}

.edit-post-meta-boxes-area__container div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion{
    height: 40px;
    margin: 0px 0px 0 0px;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion{
    background-color: transparent;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    height: 45px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #f5ebeb;
    text-align: left;
    outline: none;
    font-size: 14px;
    line-height: 28px;
    transition: 0.4s;
    color: #444444;
    margin: 10px 0px 0 0px;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion.SA_active {
    border-bottom: none;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion .SA_pie{
    display: inline;
    float: left;
    margin: 0 7px 0 0;
    line-height: 10px;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion .SA_pie svg{
    width: 28px;
    height: 28px;
    transform: rotate(-90deg);
    background: #BCE0FD;
    border-radius: 50%;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion .SA_pie svg circle{
    fill: #fd6a69;
    stroke: #63bb67;
    stroke-width: 32;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion .SA_accordion_arrow{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    float: right;
}
div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_accordion .SA_accordion_arrow i{
    border: solid #444;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.SA_down_arrow{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.SA_active i{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.SiteAttention_piechart_container{
    float: left;
    margin-right: 5px;
    margin-left: 6px;
    line-height: 22px;
}
.SiteAttention_piechart_check{
    display:none;
    transform: rotate(45deg);
    height: 12px;
    width: 6px;
    border-bottom: 3px solid #78b13f;
    border-right: 3px solid #78b13f;
}
.SiteAttention_piechart_cross{
    display:none;
    font-weight: bold;
    color: red;
    font-size: 14px;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_panel{
    display: none;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_panel .SiteAttention_rule{
    cursor: default;
    margin: 5px 0 0 2px;
    display: inline-table;
    /*border: 1px solid #BCE0FD;
    border-radius: 5px;*/
    border-bottom: 1px solid #eaeaea;
    width: 97%;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_panel .SiteAttention_rule .SiteAttention_rule_text{
    margin: 5px 5px 10px 8px;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_panel .SiteAttention_rule .SiteAttention_rule_text .SiteAttention_rule_long_description{
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_panel .SiteAttention_rule .SiteAttention_rule_text .SiteAttention_focus_field{
    font-weight: 400;
    cursor: pointer;
    color: #2699FB;
    text-decoration: underline;
}

div.SAPL div.SiteAttention_seo_analysis .SiteAttention_rules_container .SiteAttention_rules .SiteAttention_panel .SiteAttention_rule .SiteAttention_rule_text .SiteAttention_rule_variable_text{
    font-size: 12px;
    color: #4DB0E9;
    padding-left: 30px;
}

.SiteAttention_rule_image_preview img{
    position: relative;
    max-width: 60px !important;
    width: 60px;
}

div.SAPL div.SiteAttention_meta_advanced{
    width:100%;
    float: left;
    padding: 10px;
    display: none;
}
.siteattention-score--logo {
    float:left;
    width:18px;
    height: 18px;
    margin-right:5px;
    background-size:18px;
    background-image: url('../images/logo-icon.png');
}

/*
 *   Main frame
 */

div#SiteAttention {
    padding: 0 10px;
    width: 300px;
    /*position: absolute;
    bottom: 0;
    right: 0;
    height: initial;
    width: 350px;
    z-index: 998000;
    transition: all 1s ease;
    opacity: 0;*/
}

div#SiteAttention.SiteAttention_max {
    height: 100%;
}

div#SiteAttention div#SiteAttention_optimise {
    height: 100%;
}

div#SiteAttention.SiteAttention_visible {
    opacity: 1;
    overflow: hidden !important;
}

div#SiteAttention.SiteAttention_blured {
    filter: blur(4px);
    pointer-events: none;
}

.SiteAttention_tab_options{
    margin-top: 15px;
    float: left;
    width:100%;
}

.SiteAttention_keyword_rule_tab_options{
    float: left;
    width: 99%;
    border: 1px solid #89b0f1;
    border-radius: 3px;
}

.SiteAttention_keyword_rule_tab_options .tab_options{
    float: left;
    width: 50%;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
}

.SiteAttention_keyword_rule_tab_options .tab_options.active_tab{
    background: #4189fe;
    color:#fff;
}

.keyword_textbox{
    min-height: 130px;
}

.disabletab {
    pointer-events: none;
    opacity: 0.5;
}